<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre - Login</title>
</head>
<body>
    <header>
        <div class="top-header">
            <figure class="logo">
                <img src="/images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre" >
            </figure>
            <form action="#" method="GET">
                <input type="text" name="buscar" placeholder="Buscar productos, marcas y más">
                <button type="submit"><i class="fas fa-search"></i></button>
            </form>
            <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>        
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <h2 class="login-text">Iniciar sesion</h2>
        <form class="login-form" action="/" method="GET">
            <div class="form-control">
                <input type="text" name="username" placeholder="Nombre de usuario" required>
            </div>
            <div class="form-control">
                <input type="text" name="contraseña" placeholder="contraseña" required>
            </div>
            <div class="form-control">
                <button type="submit">Enviar</button>
            </div>
        </form>
    </main>
    <footer>
        <article>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad. de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </article>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
    </footer>
    </footer>
</body>
</html>